{% load static %}
<!-- mi_pagina/templates/mi_pagina/home.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Proyecto Django</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenido a la Empresa Johann</h1>
    </header>

    <nav>
        <a href="{% url 'add_directivo' %}">Agregar Directivo</a> |
        <a href="{% url 'add_empleado' %}">Agregar Empleado</a> |
        <a href="{% url 'add_producto' %}">Agregar Producto</a>
    </nav>

    <main>
        {% block content %}
        <!-- Aquí comienza el formulario de búsqueda -->
        <form method="get" action="{% url 'home' %}">
            <input type="text" name="nombre" placeholder="Buscar producto por nombre">
            <button type="submit">Buscar</button>
        </form>
        <!-- Aquí termina el formulario de búsqueda -->

        {% endblock content %}
    </main>

    <footer>
        <p>© 2023 Empresa XYZ</p>
    </footer>
</body>
</html>